<script>
  import ProkasTimer from "./prokasTimer.svelte";
  import ToDoList from "./toDoList.svelte";
</script>

<main>
  <div>
    <ProkasTimer />
  </div>
  <div>
    <ToDoList />
  </div>
</main>

