<script>
    const restSeconds = 30*60;
    const focusSeconds = 5*60;
    let elapsedSeconds = 0;
    let remainingSeconds = restSeconds;
    let start = Date.now()
    let end = Date.now()
    let instructions = "Start with a break."
    let buttonLabel = "Start!"
    let interval = setInterval(updateTimer, 1000)
    clearInterval(interval)

    let timerState = 0;
    $: {
        switch(timerState){
            case 1:
                instructions = "Break ends in:";
                buttonLabel = "Start Focus!";
                break;
            case 2:
                instructions = "Break ended!";
                break;
            case 3:
                instructions = "Focus for:";
                buttonLabel = "Restart Focus";
                break;
            case 4:
                instructions = "Focus Streak!";
                buttonLabel = "Take a Break";
                break;
        }
    }

    let now = Date.now()
    $: {
        if (timerState != 0 && timerState != 2){
            elapsedSeconds = Math.round(((now - start) / 1000))
            switch(timerState){
                case 1:
                    remainingSeconds = restSeconds - elapsedSeconds;
                    break;
                case 3:
                    remainingSeconds = focusSeconds - elapsedSeconds;
                    break;
                case 4:
                    remainingSeconds = elapsedSeconds;
                    break;
            }
        }
        if(remainingSeconds===0){
            if (timerState === 1){
                clearInterval(interval)
                timerState = 2
            }
            if (timerState === 3){
                remainingSeconds = focusSeconds
                timerState = 4
            }
        }
    }

    let elapsedPercent = 100;
    $:{
        if (timerState === 4){
            elapsedPercent = 100;
        } else if (timerState === 1){
            elapsedPercent = (elapsedSeconds/restSeconds)*98;
        } else {
            elapsedPercent = (1-(elapsedSeconds/focusSeconds))*98;
        }
    }

    function buttonPress(){
        clearInterval(interval)
        start = Date.now()
        now = start

        if (timerState === 0 || timerState === 4){
            end = now + restSeconds * 1000            
            timerState = 1
        } else {
            end = Date.now() + focusSeconds * 1000
            timerState = 3
        };
        
        interval = setInterval(updateTimer, 1000)
    }

    function updateTimer(){
        now = Date.now()
    }

</script>

<div class={"clock" + ((timerState === 1 || timerState === 2 && (end-now)/1000 < 120) ? " break": "") + ((timerState === 3) ? " focus": "")}>
    <svg 
      width="256px"
      height="256px"
      viewBox="0, 0, 256px, 256px"
      aria-hidden="true"
      >
      <circle
        r="118px"
        cx="50%"
        cy="50%"
        fill="#00000000"
        stroke="#49ff55ff"
        stroke-width="10"
        stroke-linecap="round"
        pathLength="100"
        stroke-dasharray={elapsedPercent.toString() + " " + (100-elapsedPercent).toString()}
      />
    </svg>
    <div class={"clockface"}>
      <div>{instructions}</div>
      <div class='time'>{("0"+Math.floor(remainingSeconds/60)).slice(-2)}:{("0"+remainingSeconds%60).slice(-2)}</div>
      <button on:click={buttonPress}>{buttonLabel}</button>
    </div>
  </div>