<script lang="ts">
    import type { ChangeEventHandler, HTMLInputTypeAttribute } from "svelte/elements";
    import CheckItem from "./checkItem.svelte";
    let taskDescription = "";
    let tasks:string[] = [];
    $: buttonDisabled = (taskDescription === "");

    function addTask(){
        tasks.push(taskDescription);
        tasks = tasks;
    }

    function onInputKey(key: String){
        if ((key === "Enter") && !buttonDisabled) {
            addTask()
        }
    }
</script>


<div class="toDoList">
    <div><button disabled={buttonDisabled} on:click={addTask}>Add</button><input type='text' placeholder='What do you want to do?' value={taskDescription} on:input="{(e)=>taskDescription = e.target.value}" on:keypress="{(e)=>onInputKey(e.key)}"/></div>
    <div>
        <ul>
            {#each tasks as task}
                <li>
                    <CheckItem itemText={task}/>
                </li>
            {/each}
        </ul>
    </div>
</div>